/* -------- Large Device -------- */
@media screen and (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* -------- Tablet Device -------- */
@media screen and (min-width:601px) and (max-width:991.98px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .newsletter_content,
    .perfect_content,
    .popular_content,
    #menubar {
        flex-direction: column;
    }

    .newsletter_img,
    .newsletter_form,
    .perfect_text_content,
    .perfect_img,
    .popular_text_content,
    .popular_img {
        width: 100%;
    }

    #menubar {
        gap: 30px;
    }

    .banner_overlay {
        padding: 60px 30px;
    }

    .banner_text h1 {
        font-size: 2.25rem;
    }

    .popular_text_content .common_heading,
    .perfect_text_content .common_heading {
        margin: 0;
    }

    .benifit_content,
    .destination_gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .item1,
    .item3,
    .item5 {
        grid-column: 1 / span 1;
    }

    .item2,
    .item4,
    .item6 {
        grid-column: 2 / span 1;
    }

    .item7 {
        grid-column: 1 / span 2;
    }

    .deals_item {
        justify-content: center;
        padding: 100px 30px 30px 30px;
        align-items: end;
    }

    .deals_card {
        max-width: 90% !important;
        padding: 30px;
    }
}

/* -------- Mobile Device -------- */
@media screen and (max-width:600.98px) {
    .container {
        max-width: 95%;
        margin: 0 auto;
    }

    .newsletter_img,
    .newsletter_form,
    .perfect_text_content,
    .perfect_img,
    .popular_text_content,
    .popular_img,
    .search_bar .btn,
    .search_bar input,
    .search_bar select,
    .popular_text_content,
    .popular_img {
        width: 100%;
    }

    .newsletter_content,
    .perfect_content,
    .popular_content,
    .main_menu>ul,
    #menubar {
        flex-direction: column;
    }

    .popular_text_content .common_heading,
    .perfect_text_content .common_heading {
        margin: 0;
    }

    .common_heading h2 {
        font-size: 1.25rem;
    }

    .common_heading p {
        font-size: .875rem;
    }

    header {
        margin: 0;
    }

    .main_menu>ul,
    #menubar {
        gap: 30px;
    }

    #deals,
    #destination {
        padding: 0;
    }

    .banner_overlay {
        padding: 35px 25px;
    }

    .banner_text h1 {
        font-size: 1.375rem;
    }

    .banner_text p {
        font-size: 0.875rem;
        margin: 10px 0 25px 0;
    }

    .benifit_content,
    .destination_gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery_item {
        grid-column: 1 / span 1;
    }

    .deals_item {
        min-height: 500px;
        justify-content: center;
        align-items: end;
        padding: 150px 20px 20px 20px;
    }

    .deals_card {
        max-width: 100% !important;
        padding: 30px;
    }

    .newsletter_form {
        padding: 50px 20px 20px 20px;
    }

    .discount_tag {
        width: 214px;
        height: 80px;
        bottom: 7%;
    }

    .discount_tag p {
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        margin-top: 10px;
    }

    .discount_tag h5 {
        font-size: 1.30rem;
    }

    #footer {
        padding: 50px 25px;
    }

    .footer_content .logo {
        max-width: 205px;
    }

    .footer_content .logo h2 {
        font-size: 1.25rem;
        text-align: left;
    }
}