/* -------- Large Device -------- */
@media screen and (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* -------- Tablet Device -------- */
@media screen and (min-width:601px) and (max-width:991.98px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
    .popular_content,
    #menubar {
        flex-direction: column;
    }

    #menubar {
        gap: 30px;
    }

    .banner_overlay {
        padding: 60px 30px;
    }

    .banner_text h1 {
        font-size: 2.25rem;
    }
    .popular_text_content,
    .popular_img {
        width: 100%;
    }
}

/* -------- Mobile Device -------- */
@media screen and (max-width:600.98px) {
    .container {
        max-width: 95%;
        margin: 0 auto;
    }

    .common_heading h2 {
        font-size: 1.25rem;
    }

    .common_heading p {
        font-size: .875rem;
    }

    .popular_content,
    .main_menu>ul,
    #menubar {
        flex-direction: column;
    }

    .main_menu>ul,
    #menubar {
        gap: 30px;
    }
    header{
        margin: 0;
    }
    .banner_overlay {
        padding: 35px 25px;
    }

    .banner_text h1 {
        font-size: 1.375rem;
    }

    .banner_text p {
        font-size: 0.875rem;
        margin: 10px 0 25px 0;
    }

    .search_bar .btn,
    .search_bar input,
    .search_bar select {
        width: 100%;
    }

    .popular_text_content,
    .popular_img {
        width: 100%;
    }
}