/* -------- Large Device -------- */
@media screen and (min-width:992px) and (max-width:1200px) {
    .container{
        max-width: 90%;
        margin: 0 auto;
    }
}
/* -------- Tablet Device -------- */
@media screen and (min-width:601px) and (max-width:991.98px) {
    .container{
        max-width: 90%;
        margin: 0 auto;
    }

    #menubar{
        flex-direction: column;
    }

    #menubar{
        gap: 30px;
    }

}
/* -------- Mobile Device -------- */
@media screen and (max-width:600.98px) {
    .container{
        max-width: 95%;
        margin: 0 auto;
    }
    .main_menu > ul,
    #menubar{
        flex-direction: column;
    }
    .main_menu > ul,
    #menubar{
        gap: 30px;
    }
}