/* --------- Google Fonts Link -------- */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/* --------- Common CSS Section -------- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    font-family: 'Mulish', sans-serif;
}

:root {
    --brand-color: #FF5400;
    --primary-color: #131318;
    --secondary-color: #121217b3;
    --third-color: #424247;
    --fourth-color: #5a5a5d;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    outline: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    padding: 15px 35px;
    background: var(--brand-color);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 800;
    color: #fff;
    transition: 0.2s all linear;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
}

.common_heading {
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}

.common_heading h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--primary-color);
}

.common_heading p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #131318b3;
    margin-top: 25px;
}

/* --------- Header Section -------- */
header {
    margin: 50px 0;
}

/* --------- Navbar Section -------- */
#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.logo h2 {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--primary-color);
}

.logo h2 span {
    color: var(--brand-color);
}

.main_menu>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.main_menu>ul li a {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--third-color);
    transition: 0.2s all linear;
}

.main_menu>ul li a:hover {
    font-weight: 600;
    color: var(--brand-color);
}

/* --------- Banner Section -------- */
#banner {
    max-width: 100%;
    padding-bottom: 50px;
}

.banner_content {
    max-width: 100%;
    border-radius: 16px;
    background: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_overlay {
    max-width: 100%;
    padding: 105px 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318cc 0%, #13131800 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner_text {
    max-width: 675px;
    margin: 0 auto;
    text-align: center;
}

.banner_text h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

.banner_text p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.625rem;
    margin: 25px 0 50px 0;
}

.search_bar {
    max-width: 800px;
    padding: 16px;
    border-radius: 8px;
    background: #ffffff4d;
    text-align: center;
}

.search_bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

}

.search_bar input,
.search_bar select {
    width: 170px;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #13131880;
}

.search_bar .btn {
    width: 175px;
    font-size: 1rem;
    font-weight: 700;
}

/* --------- Popular Section -------- */
#popular {
    padding-bottom: 50px;
}

.popular_content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.popular_text_content,
.popular_img {
    width: 50%;
}

.popular_text_content .common_heading {
    text-align: start;
    margin-top: 10px;
}

.popular_text_content ul {
    margin: 24px 0 24px 30px;
}

.popular_text_content p,
.popular_text_content ul li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #131318b3;
    list-style-type: disc;
    margin: 15px 0;
}

.popular_text_content .btn {
    margin-top: 20px;
}

.popular_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* --------- Destination Section -------- */
#destination {
    padding: 50px 0;
}

.destination_gallery {
    margin-top: 50px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gallery_item {
    max-width: 100%;
    min-height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.gallery_item h3 {
    font-size: 1.75rem;
    font-weight: 800;
    color: #fff;
}

.item1 {
    grid-column: 1 / span 6;
    background: url('../images/maldives.png');
}

.item2 {
    grid-column: 7 / span 6;
    background: url('../images/indonesia.png');
}

.item3 {
    grid-column: 1 / span 4;
    background: url('../images/indonesia.png');
}

.item4 {
    grid-column: 5 / span 5;
    background: url('../images/northamerica.png');
}

.item5 {
    grid-column: 10 / span 3;
    background: url('../images/kashmir.png');
}

.item6 {
    grid-column: 1 / span 5;
    background: url('../images/bangladesh.png');
}

.item7 {
    grid-column: 6 / span 7;
    background: url('../images/bandarban.png');
}

/* --------- Choose Section -------- */
#choose {
    padding: 50px 0;
}

.choose_card_container {
    margin-top: 40px;
    max-width: 100%;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.choose_card {
    width: 570px;
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
}

.choose_card h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
    margin: 32px 0 16px 0;
}

.choose_card p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: var(--fourth-color);
}

.choose_card_container .card1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose_card_container .card2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose_card_container .card3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* --------- Deals Section -------- */
#deals {
    padding: 50px 0;
}

.deals_item {
    max-width: 100%;
    margin-top: 50px;
    padding: 55px;
    border-radius: 16px;
    display: flex;
    background-image: url('../images/tour.png');
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    justify-content: end;
}

.deals_card {
    max-width: 60%;
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
}

.deals_card>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.deals_card>ul li {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 20px;
    color: var(--fourth-color);
}

.deals_card>ul li span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--brand-color);
    margin-right: 5px;
}

.deals_card h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
    margin: 26px 0 16px 0;
}

.deals_card p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--fourth-color);
}

.deals_card h3 {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--brand-color);
    margin: 16px 0 25px 0;
}

.deals_center {
    transform: rotateY(180deg);
}

.deals_center .deals_card {
    transform: rotateY(180deg);
}

.see_all_btn {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------- Perfect Section -------- */
#perfect {
    margin: 50px 0;
}

.perfect_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.perfect_text_content {
    width: 45%;
}

.perfect_img {
    width: 55%;
}

.perfect_text_content .common_heading {
    text-align: start;
    margin-top: 10px;
}

.perfect_text_content ul {
    margin: 24px 0 24px 30px;
}

.perfect_text_content ul li {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: var(--primary-color);
    list-style-type: disc;
    margin: 15px 0;
}

.perfect_text_content .btn {
    margin-top: 20px;
}

.perfect_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* --------- Newsletter Section -------- */
#newsletter {
    margin: 100px 0;
}

.newsletter_content {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.newsletter_form {
    width: 40%;
}

.newsletter_img {
    width: 60%;
    min-height: 425px;
    border-radius: 16px;
    background: url('../images/newsletter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.newsletter_form {
    padding: 40px;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter_form h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
}

.newsletter_form p {
    max-width: 300px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: var(--fourth-color);
    margin: 16px 0 24px 0;
}

.newsletter_form hr {
    opacity: 40%;
    margin-bottom: 20px;
}

.newsletter_form form input {
    display: block;
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background: #1313180d;
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #1313184d;
}

.newsletter_form form input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: #1313184d;
}

.newsletter_form form .btn {
    width: 100%;
    padding: 13px 0;
    text-align: center;
    margin-top: 16px;
}

.discount_tag {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    position: absolute;
    bottom: 11%;
    right: 1%;
}
.discount_tag p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.discount_tag h5{
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
/* --------- Footer Section -------- */
#footer{
    width: 100%;
    padding: 110px 50px;
    background: #1313180d;
}
.footer_content{
    text-align: center;
}
.footer_content .logo{
    max-width: 315px;
    margin: 0 auto;
}
.footer_content p{
    max-width: 750px;
    margin: 20px auto 35px auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: var(--fourth-color);
}
.social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social_icons a{
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: 0.2s all linear;
}
.social_icons a:hover{
    transform: scale(1.2);
    color: var(--brand-color);
}
.footer_content hr{
    opacity: 30%;
    margin: 50px 0;
}